#reply-control {
  right: 0 !important;
  margin-right: auto !important;
}

.topic-avatar {
  position: relative;
  width: 45px;
  z-index: 100;
}

.topic-meta-data {
  padding: 15px 0 0 15px;
}

.d-header .title-wrapper {
  flex-wrap: wrap;
}

.d-header .extra-info-wrapper {
  .badge-wrapper {
    margin-right: 8px;
    margin-left: 0;

    span.badge-category-bg {
      height: 9px;
      width: 9px;
    }

    .badge-category {
      min-height: initial;
      padding: 0 0 0 5px;
    }
  }
}
